<!DOCTYPE html>
<html>
<head>
<title>Human</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="container">
  <a href="https://www.compassion.com"><img src="http://wp.production.patheos.com/blogs/dharmadad/files/2015/05/starving-child-5.jpg" alt="humans are here" style="width:100%;">
<div class="centered size">HUNGER/POVERTY</div></a>

</div>

<div class="container">
  <a href="">link text</a>
<img src="https://www.mercurynews.com/wp-content/uploads/2018/06/SJM-L-ICERALLY-0620-08.jpg?w=620" alt="immigration is here" style="width:100%;">
<div class="centered size">IMMIGRATION</div>
</div>

<div class="container">
  <a href="https://www.childhelp.org/"><img src= "https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/cleanup_after_illness_slideshow/493ss_getty_rf_sick_young_girl_in_bed_with_thermometer.jpg" alt="illness is here" style="width:100%;">
<div class="centered size">ILLNESS</div></a>

<img src= "http://keepkidssafe.org/wp-content/uploads/2015/06/myths-about-child-abuse.jpg" alt="abuse is here" style="width:100%;">
<div class="centered size">ABUSE</div>
</div>


<div class="container">
  <a href="https://www.stjude.org/?sc_cid=kwp21783&s_kwcid=AL!4519!3!221964304045!b!!g!!charities&ef_id=WyfjVgAAAKz0ZxA0:20180802184114:s"></a>

</div>
</body>
</html>